<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DbConnection" connectionString="data source=localhost\RUSLAN-ANTIRK\SQLEXPRESS;Initial Catalog=kpfuScheduleDb;Persist Security Info=False;User ID=ruslan;Password=vDg56lKCcD;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <add name="DbConnection" connectionString="data source=localhost\RUSLAN-ANTIRK\SQLEXPRESS;Initial Catalog=kpfuScheduleDb;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="BotToken" value="444905366:AAG9PlFd6ZusE3hPO_sGETGPhzgM_e7roZg"/>
    <add key="WeekNumber" value="11" />
    <add key="WeekType" value ="нечетная"/>
  </appSettings>
</configuration>